@import 'tailwindcss/base';
@import 'tailwindcss/components';

body {
  font-size: 1rem;
}

h1 {
}
h2 {
}
h3 {
}
h4 {
}
p {
}
.p_small {
}
a {
  @apply text-gray-100 text-lg  underline active:text-gray-300;
}
button {
  @apply bg-black text-gray-100 px-4 py-2 rounded-md active:scale-95 transition-all transform ease-in duration-200;
}
.bg-style {
  @apply bg-cover bg-no-repeat bg-center;
}
.sb {
  @apply border border-red-500;
}

.container {
  margin: 0 auto;
  width: calc(100% - 80px);
}

@media (min-width: 960px) {
  .container {
    width: calc(100% - 160px);
  }
}

@media (min-width: 1440px) {
  .container {
    width: calc(100% - 180px);
    max-width: 1320px;
  }
}

@import 'tailwindcss/utilities';
